.button-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    color: black;
    border: none;

    font-family: "Saira Stencil", system-ui;
    font-size: inherit;
}

.link-header {
    text-decoration: none;
}

.button-header:hover {
    background-color: rgb(240, 249, 255);
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 76vw;
    margin: 0 auto;

    margin-top: 2vh;
    margin-bottom: 2vh;
}