@keyframes glideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content {
    animation: glideIn 0.4s ease-out;
    z-index: 1;
}


body {
    background-image: url(./images/bricks.jpg);
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;

    min-height: 100vh;
    margin: 0;
    display:grid;
    grid-template-rows: auto 1fr auto;
}

footer{
    /*background-color:rgb(32,32,32);*/
    background-color:#2B1b15;
    color: lightgray;
    padding: 3vh 5vw;
}

.pText {
    font-size: 18px;
    display: absolute;
    font-family: "Quantico", system-ui;
    text-align: justify;
}

.pHeroText {
    font-size: 18px;
    font-family: "Saira Stencil", system-ui;
    color: #2C0E09;
}

.h1Text {
    color: #2C0E09;
    text-align: center;
    font-size: 48px;
    font-family: "Black Ops One", system-ui;
}

.fortContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr 10fr 1fr);
    gap: 10px;
    align-items: center;
}

.content {
    background-color: white;
    padding: 1vh 3vw 3vh 3vw;
    margin-bottom: 5vh;
    border-radius: 0.5rem;
}

.sidebar {
    height: 100%;
    background-color:transparent;
}

.home-container {
    max-width: 80vw;
    margin: 0 auto;
}

.heroSection {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    column-gap: 2vw;
}

.heroImageContainer {
    width: 40%;
    display: flex;
    align-items: center;
}

.heroImageContainer img {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.heroTextContainer {
    width: 60%;
    display: flex;
    flex-direction: column;   /* puts text one below another */
    justify-content: center;  /* vertical centering */
    align-items: center;      /* horizontal centering */
    text-align: center;
}

.heroTextContainer p {
    font-size: 18px;
}

.Gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.Gallery img {
    height: auto;
    width: 100%;
    object-fit: contain;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.FortImage {
    width: 40%;
}