body {
    background-image: url(./images/bricks.jpg);
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;

    min-height: 100vh;
    margin: 0;
    display:grid;
    grid-template-rows: auto 1fr auto;
}

p {
    font-family: "Quantico", system-ui;
    text-align: justify;
}